<section class="thirteen columns">
    <h1>Conference / Presentations</h1>
 
    <article>
    <header>
        <h1>Domestic Conference</h1>

        
        <span>2018 한국데이터마이닝학회 추계학술대회, 서울대학교, 서울, 11월 30일</span>
    </header>
    <p>
        <strong>양우식</strong>, 김동화, 김형석, 송서하, 강필성*. (2018). 예측 알고리즘 Prophet을 활용한 CDN환경에서의 콘텐츠 캐싱 기법 연구.
    </p>
    

        <span>2018 한국데이터마이닝학회 추계학술대회, 서울대학교, 서울, 11월 30일</span>
    </header>
    <p>
        김준홍, 정재윤, 송서하, <strong>양우식</strong>, 강필성*. (2018). Recurrent neural network based smartphone user authentication with freely typed keystroke and drawing data
    </p>
    </article>





</section>