<section class="thirteen columns">
    <h1>Conference / Presentations</h1>
 
    <article>
    <header>
        <h1>Domestic Conference</h1>

        
        <span>2018 한국데이터마이닝학회 추계학술대회, 서울대학교, 서울, 11월 30일</span>
    </header>
    <p>
        <strong>양우식</strong>, 김동화, 김형석, 송서하, 강필성*. (2018). 예측 알고리즘 Prophet을 활용한 CDN환경에서의 콘텐츠 캐싱 기법 연구.
    </p>
    

        <span>2018 한국데이터마이닝학회 추계학술대회, 서울대학교, 서울, 11월 30일</span>
    </header>
    <p>
        김준홍, 정재윤, 송서하, <strong>양우식</strong>, 강필성*. (2018). Recurrent neural network based smartphone user authentication with freely typed keystroke and drawing data
    </p>

        <span>2019 한국데이터마이닝학회 춘계학술대회, 코엑스 그랜드볼륨, 서울, 04월 11일</span>
    </header>
    <p>
        김준홍, 송서하, <strong>양우식</strong>, 정재윤, 강필성*. (2019). 신경망 기반의 모바일 드로잉 패턴 사용자 인증 방법론
    </p>

        <span>2019 대한산업공학회 추계학술대회, 서울대학교, 서울, 11월 08일</span>
    </header>
    <p>
        <strong>양우식</strong>, 이정훈, 최종현, 강필성*. (2019). 정답 레이블 유무에 따른 선택적 뉴스 기사 감성 분석 모델 개발
    </p>


    </article>





</section>