<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS student in Industrial Engineering</h1>
            <span>University of Korea</span>
            <span><address>Seoul, Korea</address><time>2018 to 2020</time></span>
        </header>
        <p>
            <em>Research topics: deep learning, Visual Question Answering</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Statistics</h1>
            <span>University of Korea</span>
            <span><address>Seoul, Korea</address><time>2012 to 2017</time></span>
        
    </article>
</section>
