<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 1</a></strong>
			- <h><strong> Real-time anomaly detection based on user behavior in mobile environment (National Research Council of Science & Technology) - 2018.04 ~ 2018.11</strong></br>
				<li>User authentication based on keystroke and drawing pattern in smartphone in Android environment.</li>
				<li>Development of keystroke and drawing pattern data using our own application.</li>
				<li>Development of authentication method based on deep neural networks.</li>
				<li>Achieved high performance on both task.</li>
				<li>Applying TCN based approach for future work.</li>
		</p>


		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- <h><strong> Development of machine learning media streaming optimization system using QoE information (INI Soft) - 2018.07 ~ 2019.03</strong></br>
				<li>In order to efficiently serve large-capacity media contents such as Videos on the Internet and mobile, we developed a machine learning-based algorithm and library that automatically arranges content on CDN (Content Delivery Network).</li>
				<li>Development of QoE (Quality of Experience) Report collection technology for users' use of content.</li>
				<li>Development of Dynamic Content Placement and CDN Selection Algorithm for Performance/Price Optimization under Multi-CDN.</li>
				<li>Development of QoE (Quality of Experience) Report System Technology.</li>
				<li>Multi-CDN performance/price optimization algorithm.</li>
		</p>



    </div>
  </div>
</div>
</section>
